@font-face {
    font-family: 'Hatton-Light';
    src: local('Hatton-Light'), url(./assets/fonts/PPHatton-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'Charlevoix-Regular';
    src: local('Charlevoix-Regular'), url(./assets/fonts/PPCharlevoix-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Charlevoix-Thin';
    src: local('Charlevoix-Thin'), url(./assets/fonts/PPCharlevoix-Thin.woff2) format('woff2');
}

h1.title {
    font-family: 'Hatton-Light';
    font-size: 2.25vw;
    justify-content: center;
    
}

h1.title:hover {
    letter-spacing: 2px;
    transition: all 2s ease-in-out;
}

a {
    text-decoration: none;
    font-family: 'Charlevoix-Regular';
    color: black;
    
}

.lpTitle {
    font-family: 'Charlevoix-Thin';
    font-size: 12vw;
    justify-content: center;
    padding: 100px;
}

.navLink {
    width: 100%;
    padding-bottom: 20px;
    font-size: 5vw;
}

.navLink:hover, .navLink:focus {
    font-family: 'Charlevoix-Regular';
    letter-spacing: 2px;
    transition: all 2s ease;
}

.linkNames {
    display: flex;
    flex-direction: column;
}

.navigation {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 60px;
}

.menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
}

.linkNames {
    display: none;
}

.menu-icon {
    border: .5px solid black;
    border-radius: 50%;
    text-align: center;
}

.logo {
    width: 100%;
    text-align: center;
}

.home {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.about {
    display: flex;
    justify-content: center;
    overflow-x: none;
}

.bio-pic {
    width: 50%;
}

.bio-pic:hover {
    border-radius: 50%, 0%;
    transition: all 5s ease-in-out;
}

@media screen and (min-width: 720px) {
    .bio-pic {
        width: 25%;
    }

    .menu-icon {
        display: none;
    }

    .linkNames {
        display: flex;
    }
    .navLink {
        font-size: 1vw;
    }
    .lpTitle {
        font-size: 2.25vw;
    }
}