@font-face {
    font-family: 'Culture';
    src: url(./assets/fonts/Culture.woff2);
}

@font-face {
    font-family: 'Culture Bold';
    src: url(./assets/fonts/Culture-Bold.woff2);
}
@font-face {
    font-family: 'Culture Bold Outline';
    src: url(./assets/fonts/Culture-BoldOutline.woff2);
}
@font-face {
    font-family: 'Culture Outline';
    src: url(./assets/fonts/Culture-Outline.woff2);
}

h1.title {
    font-family: 'Culture';
    font-size: 5vw;
    letter-spacing: .25rem;
    justify-content: center;
    cursor: pointer;
    
}

a {
    text-decoration: none;
    color: black;
    
}

.hero {
    width: 100%;
}

img.hero-img {
    width: 75%;
}

p {
    font-family: 'Helvetica', sans-serif;
}

h2.lpTitle {
    font-family: 'Helvetica', sans-serif;
    font-size: 5vw;
    font-weight: 300;
    justify-content: center;
}

.navLink {
    font-family: 'Helvetica', sans-serif;
    cursor: pointer;
    width: 100%;
    padding-bottom: 20px;
    font-size: 5vw;
    transition: all 2s ease;
}

.navLink:hover, .navLink:focus {
    font-family: 'Helvetica', sans-serif;
    transition: all 2s ease;
}

.linkNames {
    display: flex;
    flex-direction: column;
}

.navigation {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 40px;
    align-items: center;
}

.menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
}

.linkNames {
    display: none;
}

.menu-icon {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

.logo {
    width: 100%;
    text-align: center;
}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.bio-pic {
    align-self: center;
    width: 50%;
    padding: 5%;
}

.bio-text {
    width: 90%;
    padding: 5%;
    font-size: 3vw;
}

.testimonials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 5%;
    width: 100%;
    justify-content: flex-start;
}

.testimonial {
    text-align: center;
    width: 40%;
    padding: 5%;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.25vw;

}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendly {
    width: 100%;
    justify-content: center;
}

@media screen and (min-width: 1080px) {
    .navigation {
        align-items: baseline;
    }
    
    h1.title {
        font-size: 2.25vw;;
    }
    
    .bio-pic {
        width: 25%;
    }

    .menu-icon {
        margin-top: 40px;
        display: none;
    }

    .linkNames {
        display: flex;
    }
    .navLink {
        font-size: 1vw;
    }
    h2.lpTitle {
        font-size: 2.25vw;
    }
    img.hero-img {
        width: 20%;
    }
    .about {
        flex-direction: row;
        align-items: center;
    }
    .bio-pic {
        width: 25%;
        padding: 5%;
    }
    .bio-text {
        width: 25%;
        padding: 5%;
        font-size: 1.25vw;
    }
}