@font-face {
    font-family: 'Hatton-Light';
    src: local('Hatton-Light'), url(./assets/fonts/PPHatton-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'Charlevoix-Regular';
    src: local('Charlevoix-Regular'), url(./assets/fonts/PPCharlevoix-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Charlevoix-Thin';
    src: local('Charlevoix-Thin'), url(./assets/fonts/PPCharlevoix-Thin.woff2) format('woff2');
}

@font-face {
    font-family: 'Culture';
    src: url(./assets/fonts/Culture.woff2);
}

@font-face {
    font-family: 'Culture Bold';
    src: url(./assets/fonts/Culture-Bold.woff2);
}
@font-face {
    font-family: 'Culture Bold Outline';
    src: url(./assets/fonts/Culture-BoldOutline.woff2);
}
@font-face {
    font-family: 'Culture Outline';
    src: url(./assets/fonts/Culture-Outline.woff2);
}

h1.title {
    font-family: 'Culture';
    font-size: 5vw;
    letter-spacing: .25rem;
    justify-content: center;
    /* transition: all 2s ease-in-out;
    letter-spacing: 2px; */
    
}

/* h1.title:hover {
    letter-spacing: 0px;
    transition: all 2s ease-in-out;
} */

a {
    text-decoration: none;
    color: black;
    
}

.hero {
    width: 100%;
    position: absolute;
    z-index: 1;
    /* justify-content: center; */
}

img.hero-img {
    width: 20%;
}

p {
    font-family: 'Charlevoix-Regular';
}

h2.lpTitle {
    font-family: 'Culture';
    font-size: 4rem;
    justify-content: center;
    padding: 100px;
    z-index: 99;
}

.navLink {
    font-family: 'Charlevoix-Thin';
    width: 100%;
    padding-bottom: 20px;
    font-size: 5vw;
    transition: all 2s ease;
}

.navLink:hover, .navLink:focus {
    font-family: '';
    transition: all 2s ease;
}

.linkNames {
    display: flex;
    flex-direction: column;
}

.navigation {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 60px;
    align-items: center;
}

.menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
}

.linkNames {
    display: none;
}

.menu-icon {
    font-family: 'Charlevoix-Regular';
    text-align: center;
}

.logo {
    width: 100%;
    text-align: center;
}

.home {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.bio-pic {
    align-self: center;
    width: 50%;
    padding: 5%;
}

.bio-text {
    width: 90%;
    padding: 5%;
}

.testimonials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 5%;
    width: 100%;
    justify-content: flex-start;
}

.testimonial {
    text-align: center;
    width: 40%;
    padding: 5%;
    font-family: 'Charlevoix-Regular';
    font-size: 1rem;

}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendly {
    width: 75%;
}

@media screen and (min-width: 1080px) {
    .navigation {
        align-items: baseline;
    }
    
    h1.title {
        font-size: 2.25vw;;
    }
    
    .bio-pic {
        width: 25%;
    }

    .menu-icon {
        margin-top: 40px;
        display: none;
    }

    .linkNames {
        display: flex;
    }
    .navLink {
        font-size: 1vw;
    }
    .lpTitle {
        font-size: 2.25vw;
    }
    .about {
        flex-direction: row;
        align-items: center;
    }
    .bio-pic {
        width: 25%;
        padding: 5%;
    }
    .bio-text {
        width: 25%;
        padding: 5%;
    }
}